<form action="/" method="POST">
    <img class="mb-4" src="../logo.png" alt="" width="72">
    <h1 class="h3 mb-3 fw-normal">Send request</h1>
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" required autofocus>
        <label for="username">Nom d'utilisateur</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
        <label for="password">Mot de passe</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="link" name="link" placeholder="Lien Pronote" required>
        <label for="link">Lien Pronote</label>
    </div>
    <div class="checkbox mb-3">
      <label id="remember-me">
        <input type="checkbox" value="remember-me" checked> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg mb-3" type="submit">Send request</button>
    <a href="/" type="button" class="btn btn-outline-success">Go back</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>