

html,
body {
  height: 100%;
  background-color: #111d5e;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form-signin h1, #remember-me{
    color:#fff;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-floating{
    width:100%;
}

button, input{
    border:none;
}

.btn{
    background-color: #c70039;
    border:none;
    color:#fff;
}

.btn:hover{
    background-color: #a50432;
    color:#fff;
}


